.dataset {
  display: flex;
  flex-wrap: wrap;
  background-color: #c8c5de73;
  margin: 4%;
  padding: 32px;
  box-sizing: border-box;
}

.dataset > div {
  display: flex;
  flex: 0 1 100%;
}

.description,
.countryClass {
  margin: 4px 0;
  text-align: left;
  flex-flow: column;
}

.inline h4,
p {
  flex: 1 0 50%;
}
.inline p,
.description p {
  margin: 0;
}
.inline p {
  text-align: right;
}

.logo h2 {
  flex: 0 1 60%;
}

.countryClass > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 8px 0;
}
