.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #aba9bc;
  color: #343d95;
  width: 46vw;
  min-height: 52px;
  margin: 8px 0;
  box-sizing: border-box;
  padding: 16px 24px;
  cursor: pointer;
}

.card div {
  flex: 1 1 0;
}

.card:hover {
  transform: scale(1.01);
}
